
   <div class="col-md-12">
      <div class="single-video-left">
         <video width="100%" height="215" controls controlsList="nodownload" class="single-video">
            <source  autoplay  src="adasdasd" type="video/mp4">
          </video>
         <div class="single-video-title box mb-3">
            <h2><a>asdasdasd</a></h2>
         </div>
         <div class="single-video-info-content box mb-3">
            <h6>Producer:</h6>
            <p>adasdds</p>
            <h6>Age Rating :</h6>
            <p>5</p>
            <h6>Genre :</h6>
            <p class="tags mb-0">
               <span><a >Cartoon</a></span>
            </p>
         </div>
         <div class="single-video-info-content box mb-3">
           
           <div id="addcomment" >
              <h6>Comments | dksj dlakjsdljasldjl |</h6>
               <div class="w-100">
                   <input type="text" class="form-control" placeholder="Comment content..."><br/>
                   <button class="btn btn-primary" >Send</button>
               </div>
           </div>
           <hr>
           <div class=" comment">
               <div class="head">
                   <strong class='user'>Usama Faisal</strong> 
                     <p> Comment: dasd asdkja slkdjlasjd </p>
                   
               </div>    
               <small><p>
                  Uploaded 23 days
                </p></small>
           </div>
           <hr>
         </div>
         
      </div>
   </div>